exo6.dtd

<!ELEMENT examen (code, titre, date, questions)>
<!ELEMENT code (#PCDATA)>
<!ELEMENT titre (#PCDATA)>
<!ELEMENT date (mois, annee)>
<!ELEMENT mois (#PCDATA)>
<!ELEMENT annee (#PCDATA)>
<!ELEMENT questions (question+)>
<!ELEMENT question (partie+)>
<!ELEMENT partie (#PCDATA)*>
<!ATTLIST mois valeur (Janvier | Février | Mars | Avril | Mai | Juin | Juillet | Août | Septembre | Octobre | Novembre | Décembre) #REQUIRED>
